# Multiplel Linear Regressional Model

Here you can find : 

- How to develople a multiple regressional model

### import libraries

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab as pl
%matplotlib inline

# Convert CSV to DataFrame


- lets turn our CSV file into a pandas DataFrame

In [42]:
Data = pd.read_csv ("COVID.csv")
Data.head ()

C:\Users\Hossein Toreyhi\AppData\Local\Temp\ipykernel_7192\320169126.py:1: DtypeWarning: Columns (5,7,9,10,12,13,14,15,16,17,18,19,20,24,25,26,32,33,36,37,41,44,45,48,49,50,52,53,54,56,57,58,59,61,63,64,65,69,74,76,78,79,81,83,84,85,86,87,88,90,93,94,95,96,97,98,99,100,102,103,104,105,106,107,108,109,110,113,114,116,117,119,120,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,153,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,193,194,195,196,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,279,280,281,282,283,284,285,287,288,289,290,291,292,293,295,296,297,298,299,300,301,305,306,307,308,310,311,312,313,314,315,316,317,318,321,322,323,324,326,327) have mixed types. Specify dtype option on import or set low_memory=False.
  Data = pd.read_csv ("COVID.csv")

,Patient_Number,Patient_Phase,Patient_Hospital,Patient_AdmitDate,Patient_DischargeDate,Patient_C19Variant,Outcome_InhospitalMortality,Outcome_LOS,Outcome_ICUadmission,Outcome_ICULOS,...,LAB_TotalProtein_First,LAB_TSH_First,LAB_T4_First,LAB_T3_First,LAB_VitD3_First,LAB_Zinc_y_First,LAB_IgM_First,LAB_IgG_First,LAB_SARSCOV2Egene_First,LAB_SARSCOV2RDRP_First
0,1,Phase 2,Hospital1,1400/05/21,NaN,Delta,Died,30,1,25,...,NaN,NaN,NaN,NaN,11.2,NaN,NaN,NaN,Positive,Positive CT:28.5
1,2,Phase 2,Hospital1,1400/05/29,NaN,Delta,Died,19,1,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,Positive CT:18.0
2,3,Phase 2,Hospital1,1400/06/17,NaN,Delta,Died,12,1,11,...,NaN,NaN,NaN,NaN,39.9,NaN,NaN,NaN,NaN,NaN
3,4,Phase 2,Hospital1,1400/02/04,NaN,NaN,Survived,18,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,Positive CT:20.9
4,5,Phase 2,Hospital1,1400/02/04,NaN,NaN,Survived,18,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive,Positive CT:20.9

## Make DataFrame Smaller

In [43]:
list = ["VS_O2satwithoutsupp", "VS_PR", "VS_Systolic BP","VS_RR", "VS_T"]
cdf = Data [list]

## Imputaion 

- we will use mean as missing data

In [44]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

imp.fit(cdf [list])
cdf [list] = imp.transform(cdf[list])

C:\Users\Hossein Toreyhi\AppData\Local\Temp\ipykernel_7192\2651586274.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdf [list] = imp.transform(cdf[list])

## Splitting data

In [45]:
msk = np.random.rand (len (cdf)) < 0.8
train = cdf [msk]
test = cdf [~msk]

# Model Training

- Here we gonna create a multiple linear regressional model

In [46]:
from sklearn import linear_model

regr = linear_model.LinearRegression ()

x = np.asanyarray (train [["VS_PR", "VS_Systolic BP","VS_RR", "VS_T"]])

y = np.asanyarray (train [["VS_O2satwithoutsupp"]])

regr.fit (x,y)

print (regr.coef_)

print (regr.intercept_)

[[-0.04861723  0.00153993 -0.13771179  0.01701975]]
[93.67358339]

# Model Tuning

- There is 20% untrained date, Let's see how horrible we are ...

In [48]:
y_hat = regr.predict (test [["VS_PR", "VS_Systolic BP","VS_RR", "VS_T"]])
x = x = np.asanyarray (train [["VS_PR", "VS_Systolic BP","VS_RR", "VS_T"]])
y = np.asanyarray (train [["VS_O2satwithoutsupp"]])

print ("Variant score : ", regr.score (x,y))
print ("RSC :", np.mean ((y_hat)**2))

Variant score :  0.01595295691300036
RSC : 7666.11626396668

C:\Users\Hossein Toreyhi\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(